<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,
        initial-scale=1.0">
    <title>Gerenciando Restaurantes</title>
    <!--<link href="style.css" rel="stylesheet">-->
    <link href="forms.html" rel="">

    <!--Templates-->
    <link rel="stylesheet" href="/css/animate.css" type="text/css" >
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/tooplate-style.css">


</head>

<body>
