@import url('https://fonts.googleapis.com/css?family=Poppins:300,400');

body{    
    margin: 0px;
    
    
}

.pagina-forms{
    background-color: white;
}
 
button{
    background: #f1e206;
    border: none;
    border-radius: 50px;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding: 18px 32px;
    margin-top: 42px;
    text-transform: uppercase;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    margin-left: 300px;
}

.button-back{
    margin-left: 50px;
}

.forms{
    background-color:white;
    margin-left: 290px;
    border-radius: 30px 30px 0px 0px;
    max-width: 700px;
    display: flex;
    flex-wrap:wrap
       
}


/*Título dos forms nas diferentes categorias*/
.categorias{
    background-color: #f1e206;
    max-width: 750px;
    color: black;
    font-family: 'Poppins', sans-serif;;
    text-align: center;
    padding: 3px;
    border-radius: 30px 30px 0px 0px;
    
}

.pergunta{
    color:black;
    font-family:'Poppins', sans-serif;
    text-align: left;
    
        }

.resposta{
    color:black;
    text-align:left;
}

#answer-output{
    color:black;
    background: white;
    text-align: center;
    padding: 50px;
    display: flex;   
     
}

radio{
    border-radius: 10px;
    
}
